
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div> 
        <form action="~/Person/Add" method="post">
            姓名：<input type="text" name="Name" value="" /><br />
            年龄：<input type="text" name="Age" value="" /><br />
            电话：<input type="text" name="Tel" value="" /><br />
            <input type="submit"/>
        </form>
    </div>
</body>
</html>
